html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}

.cloud-render-container-1008 *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cloud-render-container-1008{
    line-height : 1.42857143;
    font-family :Microsoft YaHei;
    font-size: 10px;
}

.cloud-render-container-1008 ::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 8px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}
.cloud-render-container-1008 ::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #535353;
}
.cloud-render-container-1008 ::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #EFEFEF;
}
.jconfirm{
    transform: translateZ(9999px);
    font-size: 10px;
}
.jconfirm-box{
    width:360px;
    max-width:80%;
}


.cloud-render-container-1008 #shadowBox,
.cloud-render-container-1008 #shadow{
    width: 480px;
    height: 140px;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #3c763d;
    z-index: 99;
    background: linear-gradient(90deg, rgba(23, 35, 37, 0) 0%, #e5e0e080 50%, #e5e0e080 70%, rgba(23, 35, 37, 0) 100%);
    opacity: 0.6;
}
.cloud-render-container-1008 #shadowBox{
    animation: float 4s linear infinite;
}
.cloud-render-container-1008 #shadow{
    opacity: 0.5;
    z-index: 100;

}
.cloud-render-container-1008 #shadow span{
    line-height: 140px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    animation: float2 4s linear infinite;
}
.cloud-render-container-1008 #shadow span.up-control{
    margin-left: 10px;
    background: #fff;
    padding: 3px 8px;
    color: #dc8d26;
    border-radius: 4px;
    cursor: pointer;
}
.cloud-render-container-1008 #queue_no{
    color:#f5d704;
}
@keyframes float {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.6;
    }
}
@keyframes float2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
.cloud-render-container-1008 #mask{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color:#181818;
    z-index: 1000;
}
.cloud-render-container-1008 #mask-ioswx{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color:rgba(0,0,0,0.5);
    z-index: 1000;
}
.cloud-render-container-1008 #mask-ioswx .ios-wx-tip{
    width: 70%;
    float: right;
}
.cloud-render-container-1008 #spin{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.cloud-render-container-1008 .tip{
    cursor: pointer;
    border:1px solid #CCC;
    position: fixed;
    right: 13px;
    top: 16px;
    color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 3px;
    z-index: 999;
}
.cloud-render-container-1008 .video-info-list{
    width: 160px;
    transform: translateZ(999px);
    display: none;
    z-index: 999;
    position: absolute;
    bottom: 0;
    right: 6px;
    color: #fff;
    font-size: 12px;
    padding: 13px 13px 0 13px;
    background: #212121;
    border-radius: 6px;
    opacity: 0.7;
}
.cloud-render-container-1008 .video-info-list span {
    display: flex;
    justify-content: space-between;
}

.cloud-render-container-1008 .topmenu{
    transform: translateZ(1001px);
    display: none;
    text-align: center;
    z-index: 1001;
    position: absolute;
    top: 5px;
    height: 44px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #84A5B1;
    padding: 0 5px;
}

@media (max-width: 992px) {
    .cloud-render-container-1008 .topmenu{
        /*max-width: 400px*/
    }
}
@media (min-width: 1200px) {
    .cloud-render-container-1008 .topmenu{
        /*max-width: 520px*/
    }
}

.cloud-render-container-1008 .leftjoystick{
    transform: translateZ(9998px);
    z-index: 9998;
    position: absolute;
    display: none;
    border-radius: 60px;
    bottom:35px;
    left: 20px;
}
.drag-scroll{
    transform: translateZ(9998px);
    z-index: 9998;
    position: fixed;
    display: none;
    border-radius: 60px;
    bottom:35px;
    right: 20px;
}
.drag-scroll-pc{
    transform: translateZ(9998px);
    z-index: 9998;
    position: fixed;
    display: none;
    border-radius: 60px;
    bottom:35px;
    right: 20px;
    width:60px;
    height:60px;
    cursor:pointer;
}
.drag-scroll-pc-list{
    width:60px;
    height:60px;
    display:flex;
    justify-content : space-between;
}
.drag-scroll-pc .content-svg{
    width: 25px;
    height: 35px;
    fill: #497ec5;
    margin-top: 14px;
    opacity: 0.6;
}
.cloud-render-container-1008 #instructions img.clogo{
    height: 160px;
    width: 230px;
}
.cloud-render-container-1008 #instructions span{
    font-size: 12px;
    width:100%;
}
.cloud-render-container-1008 #instructions span.load-process{
    color:#FFF;
    letter-spacing: 1px;
    font-family: "Times New Roman", Times, serif;
}
.cloud-render-container-1008 #instructions span.load-error{
    color:#FFF;
    letter-spacing: 1px;
    font-family: "Times New Roman", Times, serif;
}
.cloud-render-container-1008 #pointer-canvas{
    position: absolute;
    z-index: 9998;
    pointer-events: none;
    display: none;
}
.cloud-render-container-1008 #pointer-image{
    position: absolute;
    z-index: 9998;
    pointer-events: none;
    display: none;
}
.cloud-render-container-1008 .setbar{
    position: absolute;
    top: 10px;
    transform: translateZ(9999px);
    display: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 32px;
    background: #151515;
    border-radius: 19px;
    opacity: 0.9;
    cursor: pointer;
    z-index: 9999;
    line-height: 28px;
    text-align: center;
}

.cloud-render-container-1008 .keybar{
    /*transform: translateZ(1px);*/
    /*z-index: 9999;*/
    /*position: absolute;*/
    /*top: 62%;*/
    /*left: 15px;*/
    /*display: none;*/
}
.cloud-render-container-1008 .mousebar{
    /*transform: translateZ(1px);*/
    /*z-index: 9999;*/
    /*position: absolute;*/
    /*top: 54%;*/
    /*left: 15px;*/
    /*display: none;*/
}
.cloud-render-container-1008 .handlebar{
    /*transform: translateZ(1px);*/
    /*z-index: 9999;*/
    /*position: absolute;*/
    /*top: 44%;*/
    /*left: 15px;*/
    /*display: none;*/
}
.cloud-render-container-1008 .mouserightbar{
    display: none;
}
.cloud-render-container-1008 .mousemiddlebar{
    display: none;
}

.cloud-render-container-1008 .exitfullbar{
    z-index: 9999;
    position: absolute;
    top: 60%;
    right: 2px;
    display: none;
}
.cloud-render-container-1008 .fullbar{
    z-index: 9999;
    position: absolute;
    top: 60%;
    right: 2px;
    display: none;
}
.cloud-render-container-1008 .setbar:hover{
    /*opacity: 0.7;*/
    cursor: pointer;
    background: #212121;
}
.cloud-render-container-1008 .handlebar:hover{
    opacity: 0.8;
    cursor: pointer;
}
.cloud-render-container-1008 .item-svg1 {
    width: 16px;
    height: 14px;
    margin: 0 7px;
}
.cloud-render-container-1008 #set-svg{
    width:18px;
    height: 18px;
    fill: #FFF;
    margin-top: -2px;
}
.cloud-render-container-1008 #set-svg:hover{
    width:18px ;
    height: 18px;
    fill: #FFF;
}
.cloud-render-container-1008 #handle-svg{
    width:24px;
    height: 24px;
    fill: #A7F4FC;
}
.cloud-render-container-1008 #handle-svg:hover{
    width:24px ;
    height: 24px;
    fill: #A7F4FC;
}
.cloud-render-container-1008 #mouse-svg{
    width:24px;
    height: 24px;
    fill: #A7F4FC;
}
.cloud-render-container-1008 #mouse-svg:hover{
    width:24px ;
    height: 24px;
    fill: #A7F4FC;
}
.cloud-render-container-1008 #mouseright-svg{
    width:24px;
    height: 24px;
    fill: #A7F4FC;
}
.cloud-render-container-1008 #mouseright-svg:hover{
    width:24px ;
    height: 24px;
    fill: #A7F4FC;
}
.cloud-render-container-1008 #mousemiddle-svg{
    width:24px;
    height: 24px;
    fill: #A7F4FC;
}
.cloud-render-container-1008 #mousemiddle-svg:hover{
    width:24px ;
    height: 24px;
    fill: #A7F4FC;
}

.cloud-render-container-1008 .keybar:hover{
    opacity: 0.8;
    cursor: pointer;
}
.cloud-render-container-1008 #key-svg{
    width:24px ;
    height: 24px;
    fill: #A7F4FC;
}
.cloud-render-container-1008 #key-svg:hover{
    width:24px ;
    height: 24px;
    fill: #A7F4FC;
}
.cloud-render-container-1008 .server-info{
    margin-top: 10px;
    color:#f3aa06;
}
.cloud-render-container-1008 .keyboard{
    transform: translateZ(1001px);
    display: none;
}
.cloud-render-container-1008 .op-list {
    display: flex;
    align-items: center;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.cloud-render-container-1008 .op-item {
    /* width: 80px; */
    padding: 10px;
    height: 80%;
    font-weight: 400;
    font-family: Source Han Sans CN;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cloud-render-container-1008 .box-item-svg {
    width: 22px;
    height: 22px;
    fill: #FFF;
}

.cloud-render-container-1008 .item-svg {
    /* width: 20px;
    height: 20px; */
    width: 16px;
    height: 16px;
    fill: #FFF;
    /* margin-top: 14px; */
}
.cloud-render-container-1008 .item-down {
    width: 9px;
    height: 6px;
    fill: #FFF;
    margin-left: 10px;
}
.cloud-render-container-1008 .item-right{
    position: absolute;
    right:15px;
    width: 6px;
    height: 9px;
    float: right;
    fill: #FFF;
}
.cloud-render-container-1008 .op-tip{
    display: inline-block;
    /*margin-top: 5px;*/
    color: #FFF;
    font-size: 13px;
    vertical-align: middle;
    margin: -2px 0 0 12px;
}
.cloud-render-container-1008 .tipinfo{
    position: absolute;
    display: inline-block;
    color: #fff;
    z-index: 999;
    transform: translateZ(999px);
    font-size: 14px;
    display: none;
    left:50%;
    top:50%;
}
@media only screen and (max-width: 767px){
    .cloud-render-container-1008 .pointer-show{
        position: fixed;
        left: 13px;
        top: 90%;
        display: inline-block;
        color: #fff;
        z-index: 999;
        font-size: 14px;
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .cloud-render-container-1008 .tipinfo{
        position: fixed;
        display: inline-block;
        color: #fff;
        z-index: 999;
        transform: translateZ(999px);
        font-size: 14px;
    }
}
.cloud-render-container-1008 video::-webkit-media-controls{
    display:none !important;
}


.cloud-render-container-1008 #controls {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-top: 20px;
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
}

.cloud-render-container-1008 button,
.jconfirm button,
.cloud-render-container-1008 select,
.cloud-render-container-1008 option {
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 300;
    background-color:white;
    background-image: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
    padding: 4px 12px;
    border: 2px solid #20639b;
    color:#20639b;
    margin-right: 20px;
    cursor: pointer;
}

.cloud-render-container-1008 select {
    padding-right: 50px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .4em top 50%, 0 0;
    background-size: .65em auto, 100%;
}



.cloud-render-container-1008 select:invalid {
    color: lightgray;
}

.cloud-render-container-1008 #error {
    color: #ca2508;
    flex: 1;
    align-self: center;
    padding-left: 20px;
    font-size: 2.5rem;
}

.cloud-render-container-1008 #remote-video {
    max-height: 100%;
    z-index: 10;
    display: none;
}
.cloud-render-container-1008 #remote-canvas{
    max-height: 100%;
    z-index: 10;
    transform: translateZ(10px);
    display: none;
}
.cloud-render-container-1008 .desktop-scroll{
    overflow: scroll;
}
.cloud-render-container-1008 .screen-native{
    max-width: 100%;
}
.cloud-render-container-1008 .screen-fill{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.cloud-render-container-1008 .screen-cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cloud-render-container-1008 .screen-fill-width{
    object-fit: fill;
    width: 100%;
}
.cloud-render-container-1008 .screen-fill-height{
    object-fit: fill;
    height: 100%;
    position:absolute;
    left: 0;
    max-width: none;
    right: 0;
    margin: auto;
}
.cloud-render-container-1008 #instructions {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 3px black;
    justify-content: center;
    color: #acacac;
    font-size: 2.2rem;
    z-index: 0;
    flex-direction: column;
}
.cloud-render-container-1008 #instructions .load-box{
    width: 100%;
    height: 100px;
    position: relative;
}
.cloud-render-container-1008 #instructions .load-msg-box{
    position: absolute;
    top: 40px;
    width: 100%;
}
.cloud-render-container-1008 .loadwrap{
    overflow: hidden;
    height: 39px;
    position: absolute;
    top: 10px;
    width:100%;
    display: none;
}
.cloud-render-container-1008 .loadwrap .load-in{
    width:16px;height: 23px;opacity: 0.8;
}
.cloud-render-container-1008 .loader-logo-hide .load-in{
    width:16px;height: 23px;opacity: 0.3;
}
.cloud-render-container-1008 .loader-logo {
    -webkit-animation: load-logo 1.3s infinite linear;
    animation: load-logo 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load-logo {
    0%,
    5% {
        height: 38px;
    }
    10% {
        height: 36px;
    }
    15% {
        height: 32px;
    }
    20% {
        height: 30px;
    }
    25% {
        height: 28px;
    }
    30% {
        height: 26px;
    }
    35% {
        height: 24px;
    }
    40% {
        height: 22px;
    }
    45% {
        height: 20px;
    }
    50% {
        height: 18px;
    }
    55% {
        height: 16px;
    }
    60% {
        height: 14px;
    }
    65% {
        height: 12px;
    }
    70% {
        height: 10px;
    }
    75% {
        height: 8px;
    }
    80% {
        height: 6px;
    }
    85% {
        height: 4px;
    }
    90% {
        height: 2px;
    }
    95% {
        height: 0px;
    }
}

@keyframes load-logo {
    0%,
    5% {
        height: 38px;
    }
    10% {
        height: 36px;
    }
    15% {
        height: 32px;
    }
    20% {
        height: 30px;
    }
    25% {
        height: 28px;
    }
    30% {
        height: 26px;
    }
    35% {
        height: 24px;
    }
    40% {
        height: 22px;
    }
    45% {
        height: 20px;
    }
    50% {
        height: 18px;
    }
    55% {
        height: 16px;
    }
    60% {
        height: 14px;
    }
    65% {
        height: 12px;
    }
    70% {
        height: 10px;
    }
    75% {
        height: 8px;
    }
    80% {
        height: 6px;
    }
    85% {
        height: 4px;
    }
    90% {
        height: 2px;
    }
    95% {
        height: 0px;
    }
}

.cloud-render-container-1008 .loader {
    font-size: 20px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load1 1.3s infinite linear;
    animation: load1 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.cloud-render-container-1008  .turn90{
    transform: rotate(
            90deg
    );
}

@-webkit-keyframes load1 {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #A7F4FC, 2em -2em 0 0em #A7F4FC, 3em 0em 0 -0.5em #A7F4FC, 2em 2em 0 -0.5em #A7F4FC, 0em 3em 0 -0.5em #A7F4FC, -2em 2em 0 -0.5em #A7F4FC, -3em 0em 0 -0.5em #A7F4FC, -2em -2em 0 0em #A7F4FC;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #A7F4FC, 2em -2em 0 0.2em #A7F4FC, 3em 0em 0 0em #A7F4FC, 2em 2em 0 -0.5em #A7F4FC, 0em 3em 0 -0.5em #A7F4FC, -2em 2em 0 -0.5em #A7F4FC, -3em 0em 0 -0.5em #A7F4FC, -2em -2em 0 -0.5em #A7F4FC;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #A7F4FC, 2em -2em 0 0em #A7F4FC, 3em 0em 0 0.2em #A7F4FC, 2em 2em 0 0em #A7F4FC, 0em 3em 0 -0.5em #A7F4FC, -2em 2em 0 -0.5em #A7F4FC, -3em 0em 0 -0.5em #A7F4FC, -2em -2em 0 -0.5em #A7F4FC;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #A7F4FC, 2em -2em 0 -0.5em #A7F4FC, 3em 0em 0 0em #A7F4FC, 2em 2em 0 0.2em #A7F4FC, 0em 3em 0 0em #A7F4FC, -2em 2em 0 -0.5em #A7F4FC, -3em 0em 0 -0.5em #A7F4FC, -2em -2em 0 -0.5em #A7F4FC;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #A7F4FC, 2em -2em 0 -0.5em #A7F4FC, 3em 0em 0 -0.5em #A7F4FC, 2em 2em 0 0em #A7F4FC, 0em 3em 0 0.2em #A7F4FC, -2em 2em 0 0em #A7F4FC, -3em 0em 0 -0.5em #A7F4FC, -2em -2em 0 -0.5em #A7F4FC;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #A7F4FC, 2em -2em 0 -0.5em #A7F4FC, 3em 0em 0 -0.5em #A7F4FC, 2em 2em 0 -0.5em #A7F4FC, 0em 3em 0 0em #A7F4FC, -2em 2em 0 0.2em #A7F4FC, -3em 0em 0 0em #A7F4FC, -2em -2em 0 -0.5em #A7F4FC;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #A7F4FC, 2em -2em 0 -0.5em #A7F4FC, 3em 0em 0 -0.5em #A7F4FC, 2em 2em 0 -0.5em #A7F4FC, 0em 3em 0 -0.5em #A7F4FC, -2em 2em 0 0em #A7F4FC, -3em 0em 0 0.2em #A7F4FC, -2em -2em 0 0em #A7F4FC;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #A7F4FC, 2em -2em 0 -0.5em #A7F4FC, 3em 0em 0 -0.5em #A7F4FC, 2em 2em 0 -0.5em #A7F4FC, 0em 3em 0 -0.5em #A7F4FC, -2em 2em 0 0em #A7F4FC, -3em 0em 0 0em #A7F4FC, -2em -2em 0 0.2em #A7F4FC;
    }
}
@keyframes load1 {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #A7F4FC, 2em -2em 0 0em #A7F4FC, 3em 0em 0 -0.5em #A7F4FC, 2em 2em 0 -0.5em #A7F4FC, 0em 3em 0 -0.5em #A7F4FC, -2em 2em 0 -0.5em #A7F4FC, -3em 0em 0 -0.5em #A7F4FC, -2em -2em 0 0em #A7F4FC;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #A7F4FC, 2em -2em 0 0.2em #A7F4FC, 3em 0em 0 0em #A7F4FC, 2em 2em 0 -0.5em #A7F4FC, 0em 3em 0 -0.5em #A7F4FC, -2em 2em 0 -0.5em #A7F4FC, -3em 0em 0 -0.5em #A7F4FC, -2em -2em 0 -0.5em #A7F4FC;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #A7F4FC, 2em -2em 0 0em #A7F4FC, 3em 0em 0 0.2em #A7F4FC, 2em 2em 0 0em #A7F4FC, 0em 3em 0 -0.5em #A7F4FC, -2em 2em 0 -0.5em #A7F4FC, -3em 0em 0 -0.5em #A7F4FC, -2em -2em 0 -0.5em #A7F4FC;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #A7F4FC, 2em -2em 0 -0.5em #A7F4FC, 3em 0em 0 0em #A7F4FC, 2em 2em 0 0.2em #A7F4FC, 0em 3em 0 0em #A7F4FC, -2em 2em 0 -0.5em #A7F4FC, -3em 0em 0 -0.5em #A7F4FC, -2em -2em 0 -0.5em #A7F4FC;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #A7F4FC, 2em -2em 0 -0.5em #A7F4FC, 3em 0em 0 -0.5em #A7F4FC, 2em 2em 0 0em #A7F4FC, 0em 3em 0 0.2em #A7F4FC, -2em 2em 0 0em #A7F4FC, -3em 0em 0 -0.5em #A7F4FC, -2em -2em 0 -0.5em #A7F4FC;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #A7F4FC, 2em -2em 0 -0.5em #A7F4FC, 3em 0em 0 -0.5em #A7F4FC, 2em 2em 0 -0.5em #A7F4FC, 0em 3em 0 0em #A7F4FC, -2em 2em 0 0.2em #A7F4FC, -3em 0em 0 0em #A7F4FC, -2em -2em 0 -0.5em #A7F4FC;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #A7F4FC, 2em -2em 0 -0.5em #A7F4FC, 3em 0em 0 -0.5em #A7F4FC, 2em 2em 0 -0.5em #A7F4FC, 0em 3em 0 -0.5em #A7F4FC, -2em 2em 0 0em #A7F4FC, -3em 0em 0 0.2em #A7F4FC, -2em -2em 0 0em #A7F4FC;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #A7F4FC, 2em -2em 0 -0.5em #A7F4FC, 3em 0em 0 -0.5em #A7F4FC, 2em 2em 0 -0.5em #A7F4FC, 0em 3em 0 -0.5em #A7F4FC, -2em 2em 0 0em #A7F4FC, -3em 0em 0 0em #A7F4FC, -2em -2em 0 0.2em #A7F4FC;
    }
}

.cloud-render-container-1008 .loader2:before,
.cloud-render-container-1008 .loader2:after,
.cloud-render-container-1008 .loader2 {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load2 1s infinite ease-in-out;
    animation: load2 1s infinite ease-in-out;
}
.cloud-render-container-1008 .loader2 {
    margin: 5px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.cloud-render-container-1008 .loader2:before {
    left: -20px;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.cloud-render-container-1008 .loader2:after {
    left: 20px;
}
.cloud-render-container-1008 .loader2:before,
.cloud-render-container-1008 .loader2:after {
    content: '';
    position: absolute;
    top: 0;
}
@-webkit-keyframes load2 {
    0%,
    80%,
    100% {
        box-shadow: 0 1.5em 0 -1.3em #F6F8FB;
    }
    40% {
        box-shadow: 0 1.5em 0 0 #F6F8FB;
    }
}
@keyframes load2 {
    0%,
    80%,
    100% {
        box-shadow: 0 1.5em 0 -1.3em #F6F8FB;
    }
    40% {
        box-shadow: 0 1.5em 0 0 #F6F8FB;
    }
}

.cloud-render-container-1008 .netWarning{
    color: #FFF;
    display: none;
    margin: 0 auto;
    position: absolute;
    z-index: 99999;
    transform: translateZ(999px);
    letter-spacing: 1px;
    bottom: 3px;
    left:5px;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
}
.cloud-render-container-1008 .awUsedWarning{
    color: #FFF;
    display: none;
    margin: 0 auto;
    position: absolute;
    z-index: 99999;
    letter-spacing: 1px;
    top: 5px;
    border-radius: 3px;
    font-size: 12px;
    padding: 3px 6px;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    opacity: 0.5;
}
.cloud-render-container-1008 .userAppLoading,
.cloud-render-container-1008 .commonMsg{
    color: #FFF;
    display: none;
    margin: 0 auto;
    position: absolute;
    z-index: 99999;
    transform: translateZ(999px);
    letter-spacing: 1px;
    top: 85%;
    background-color: #000;
    border-radius: 3px;
    font-size: 12px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0,0,0,0.6);
    cursor: pointer;
}
.cloud-render-container-1008 .toast-box{
    position: fixed;
    display: none;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding:10px;
    border-radius: 3px;
    left: 50%;
    top: 50%;
    transform: translateZ(9999px) translate(-50%,-50%);
    -webkit-transform:  translateZ(9999px) translate(-50%,-50%);
    -moz-transform:  translateZ(9999px) translate(-50%,-50%);
    -o-transform:  translateZ(9999px) translate(-50%,-50%);
    -ms-transform:  translateZ(9999px) translate(-50%,-50%);
    z-index: 9999;
    white-space: nowrap;
}
.cloud-render-container-1008 .toast-box-bottom {
    left: 50%;
    top: 90%;
}

.cloud-render-container-1008 .toast-box-top {
    left: 50%;
    top: 10%;
}

#__vconsole{
    display: none;
}
/*手机端菜单*/
@media (max-width: 992px) {
    .cloud-render-container-1008 .op-list{
        /*margin-top: 5px;*/
        /*height: 62px;*/
    }
    .cloud-render-container-1008 .topmenu {
        transform: translateZ(1001px);
        display: none;
        text-align: center;
        z-index: 1001;
        position: absolute;
        /* top: 5px;
        width: 97%; */
        /* max-width: 380px; */
        height: 44px;
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.9);
        color: #84A5B1;
        padding: 0 5px;
    }
    .cloud-render-container-1008 .op-item{
        padding: 10px;
        height: 80%;
        font-weight: 400;
        font-family: Source Han Sans CN;
        font-size: 14px;
        cursor: pointer;
        border-radius: 8px;
        opacity: 0.9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cloud-render-container-1008 .item-svg {
        width: 16px;
        height: 16px;
        fill: #FFF;
        /*margin-top: 14px;*/
    }
    .cloud-render-container-1008 .item-down {
        width: 7px;
        height: 5px;
        fill: #FFF;
        margin-left: 10px;
    }
}

.power{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.power-img{
    width: 160px;
    height: 16px;
}
/*pc下载部分*/
.cloud-render-container-1008 .download-client,
.cloud-render-container-1008 #download {
    transform: translateZ(1001px);
    z-index: 1001;
    position: absolute;
    text-align: center;
    left: auto;
    top: 105px;
    width: 556px;
    height: 400px;
    font-family: Microsoft YaHei;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #84A5B1;
}

.cloud-render-container-1008 .download-step {
    margin-top: 32px;
    margin-left: 48px;
    height: 18px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: #FFFFFF;
}

.cloud-render-container-1008 .download-step span {
    margin-left: 18px;
    height: 17px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.5;
}

.cloud-render-container-1008 .client-list {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 460px;
    height: 130px;
    margin-top: 23px;
    margin-left: 48px;
}
.cloud-render-container-1008 .dw-item {
    width: 130px;
    height: 130px;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    opacity: 0.9;
}
.cloud-render-container-1008 .dw-item:hover{
    width: 130px;
    height: 130px;
    background: #383636;
    opacity: 0.9;
    border-radius: 8px;
    cursor: pointer;
}
.cloud-render-container-1008 .dw-svg {
    width: 42px;
    height: 42px;
    fill: #A0A0A1;
    margin-top: 14px;
}
.cloud-render-container-1008 .dw-item:hover .dw-svg {
    width: 42px;
    height: 42px;
    fill: #FFFFFF;
    margin-top: 14px;
}

.cloud-render-container-1008 .dw-tip {
    display: inline-block;
    margin-top: 16px;
    height: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #8E8E8E;
}
.cloud-render-container-1008 .dw-tip-none{
    display: inline-block;
    margin-top: 4px;
    height: 12px;
    font-size: 12px;
    color: #8E8E8E;
}
.cloud-render-container-1008 .dw-item:hover .dw-tip {
    color: #FFFFFF;
}
.cloud-render-container-1008 .dw-op {
    width: 400px;
    margin-top: 27px;
    margin-left: 51px;
    display: flex;

}

.cloud-render-container-1008 .dw-op-qrcode {
    width: 92px;
    height: 92px;
    display: inline-block;
    text-align: center;
    border: #FFFFFF 6px solid;
    border-radius: 6px;
}
.cloud-render-container-1008 .dw-url-op {
    margin-left: 26px;
    display: inline-block;
    text-align: left;
}

.cloud-render-container-1008 .dw-bt {
    margin-top: 12px;
    width: 108px;
    height: 42px;
    line-height: 42px;
    background: #438FE3;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer
}
.cloud-render-container-1008 .dw-bt:hover{
    background: #55a5ff;
    text-decoration: none;
}
.cloud-render-container-1008 .dw-op-text {
    border-bottom: solid #2A2B2B 1px;
    padding-bottom: 10px;
    display: inline-block;
    width: 328px;
    text-align: left;
}
.cloud-render-container-1008 .dw-copy-url {
    color: #FFFFFF;
    display: inline-block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cloud-render-container-1008 .dw-copy {
    color: #438FE3;
    font-size: 16px;
    margin-left: 17px;
    float: right
}
.cloud-render-container-1008 .dw-copy:hover {
    color: #55a5ff;
}
.cloud-render-container-1008 .dw-item-hover{
    width: 130px;
    height: 130px;
    border: #FFFFFF 6px solid;
    border-radius: 6px;
    cursor: pointer;
}

.cloud-render-container-1008 .definition-box,
.cloud-render-container-1008 .scale-box,
.cloud-render-container-1008 .control-box,
.cloud-render-container-1008 .shortcut-box,
.cloud-render-container-1008 .shortcut-key-box,
.cloud-render-container-1008 .resolution-box,
.cloud-render-container-1008 .frame-box {
    transform: translateZ(1002px);
    display: none;
    text-align: center;
    z-index: 1002;
    position: absolute;
    top: 52px;
    width: 150px;
    /* height: 180px; */
    max-height: 280px;
    overflow-y: auto;
    background: #000000;
    opacity: 0.9;
    border-radius: 6px;
    color: #FFFFFF;
}

.cloud-render-container-1008 .definition-box::-webkit-scrollbar,
.cloud-render-container-1008 .scale-box::-webkit-scrollbar,
.cloud-render-container-1008 .control-box::-webkit-scrollbar,
.cloud-render-container-1008 .shortcut-box::-webkit-scrollbar,
.cloud-render-container-1008 .shortcut-key-box::-webkit-scrollbar,
.cloud-render-container-1008 .resolution-box::-webkit-scrollbar,
.cloud-render-container-1008 .frame-box::-webkit-scrollbar {
    display: none;
    /*ChromeSafari*/
    -ms-overflow-style: none;
    /*IE10+*/
    scrollbar-width: none;
    /*Firefox*/
}
/*分辨率列表显示滚动条*/
.cloud-render-container-1008 .resolution-box::-webkit-scrollbar{
    display: block;
    width : 3px;  /*高宽分别对应横竖滚动条的尺寸*/
}
.cloud-render-container-1008 .resolution-box::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #EFEFEF;
}

.cloud-render-container-1008 .control-item:hover,
.cloud-render-container-1008 .frame-item:hover {
    opacity: 1;
    background: rgba(224, 222, 221, 0.2);
}

.cloud-render-container-1008 .control-box {
    left: 50%;
    transform: translateZ(1002px) translateX(-212px);
}

.cloud-render-container-1008 .frame-box {
    left: 50%;
    transform: translateZ(1002px) translateX(-93px);
}

.cloud-render-container-1008 .shortcut-key-box {
    left: 50%;
    transform: translateZ(1002px) translateX(-52px);
    /*-212+150+10*/
}

.cloud-render-container-1008 .definition-box,
.cloud-render-container-1008 .scale-box,
.cloud-render-container-1008 .shortcut-box,
.cloud-render-container-1008 .resolution-box {
    left: 50%;
    transform: translateZ(1002px) translateX(67px);
    /*-93+150+10*/
}

.cloud-render-container-1008 .definition-list,
.cloud-render-container-1008 .scale-list,
.cloud-render-container-1008 .shortcut-list,
.cloud-render-container-1008 .control-list,
.cloud-render-container-1008 .shortcut-key-list,
.cloud-render-container-1008 .resolution-list,
.cloud-render-container-1008 .frame-list {
    padding: 6px;
    /* display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap; */
    /* justify-content: center; */
    /* position: absolute; */
    /* align-items: center; */
    width: 100%;
    height: 100%;
}

.cloud-render-container-1008 .definition-item,
.cloud-render-container-1008 .scale-item,
.cloud-render-container-1008 .shortcut-item,
.cloud-render-container-1008 .control-item,
.cloud-render-container-1008 .resolution-item,
.cloud-render-container-1008 .shortcut-key-item,
.cloud-render-container-1008 .frame-item {
    width: 130px;
    height: 38px;
    border-radius: 4px;
    /*line-height: 38px;*/
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
}

.cloud-render-container-1008 .definition-item:hover,
.cloud-render-container-1008 .scale-item:hover,.resolution-item:hover,
.cloud-render-container-1008 .shortcut-item:hover,
.cloud-render-container-1008 .shortcut-key-item:hover{
    background: rgba(224,222,221,.2);
}
.cloud-render-container-1008 .control-item,
.cloud-render-container-1008 .frame-item {
    display: flex;
    align-items: center;
}
.cloud-render-container-1008 .definition-item-active,
.cloud-render-container-1008 .scale-item-active,
.cloud-render-container-1008 .resolution-item-active,
.cloud-render-container-1008 .shortcut-item-active{
    width: 130px;
    height: 38px;
    border-radius: 8px;
    /*line-height: 38px;*/
    cursor:pointer;
    background: rgba(224,222,221,.2);
}

.cloud-render-container-1008 .cn-area{
    transform: translateZ(1001px);
    width: 80%;
    position: absolute;
    bottom: 5px;
    text-align: left;
    line-height:60px;
    z-index: 1001;
    height: 60px;
    border: 0 solid #090103;
    background-color: #000;
    opacity: 0.8;
    border-radius: 8px;
}
.cloud-render-container-1008 .cn-confirm{
    padding-left: 15px;
    padding-right: 15px;
    color: #FFF;
    display:flex;
    align-items:center;
}

.cloud-render-container-1008 .cn-confirm-close,
.cloud-render-container-1008 .cn-editor-close,.keyboard-close,
.cloud-render-container-1008 .download-client-close ,
.cloud-render-container-1008 .meeting-set-close{
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    line-height: 30px;
}
.cloud-render-container-1008 .keyboard-close,
.cloud-render-container-1008 .download-client-close,
.cloud-render-container-1008 .meeting-set-close{
    right: 5px;
    top: 5px;
}

.cloud-render-container-1008 .cn-confirm-close:before,
.cloud-render-container-1008 .cn-confirm-close:after,
.cloud-render-container-1008 .cn-editor-close:before,
.cloud-render-container-1008 .cn-editor-close:after,
.cloud-render-container-1008 .keyboard-close:before,
.cloud-render-container-1008 .keyboard-close:after,
.cloud-render-container-1008 .download-client-close:before,
.cloud-render-container-1008 .download-client-close:after ,
.cloud-render-container-1008 .meeting-set-close:before,
.cloud-render-container-1008 .meeting-set-close:after{
    position: absolute;
    right: 10px;
    height: 20px;
    content: ' ';
    width: 1px;
    background-color: #FFF;
}
.cloud-render-container-1008 .cn-confirm-close:before,
.cloud-render-container-1008 .cn-editor-close:before,
.cloud-render-container-1008 .keyboard-close:before,
.cloud-render-container-1008 .download-client-close:before,
.cloud-render-container-1008 .meeting-set-close:before {
    transform: rotate(45deg);
}
.cloud-render-container-1008 .cn-confirm-close:after,
.cloud-render-container-1008 .cn-editor-close:after,
.cloud-render-container-1008 .keyboard-close:after,
.cloud-render-container-1008 .download-client-close:after,
.cloud-render-container-1008 .meeting-set-close:after {
    transform: rotate(-45deg);
}
.cloud-render-container-1008 #mobile-keyboard-close{
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 99;
}
.cloud-render-container-1008 #mobile-keyboard-close:before,
.cloud-render-container-1008 #mobile-keyboard-close:after{
    height: 16px;
}
.cloud-render-container-1008 .cn-confirm-btn{
    border-radius: 3px;
    margin-left: 20px;
    border: 1px solid #fff;
    padding: 5px 12px;
    display: inline-block;
    line-height: 1.6;
    font-size: 12px;
    cursor: pointer;
}
.cloud-render-container-1008 .cn-editor{
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    display:flex;
    align-items:center;
    height: 100%;
}
.cloud-render-container-1008 .cn-editor-sure-btn,
.cloud-render-container-1008 .cn-editor-return-btn{
    border-radius: 3px;
    margin-left: 20px;
    padding: 5px 12px;
    display: inline-block;
    line-height: 1.6;
    font-size: 12px;
    cursor: pointer;
    background-color: #448FE2;
    border:0;
}
.cloud-render-container-1008 .cn-editor-sure-btn{
    position: absolute;
    right: 100px;
}
.cloud-render-container-1008 .cn-editor-return-btn{
    position: absolute;
    right: 38px;
}
.cloud-render-container-1008 .cn-editor-input{
    min-width: 100px;
    right: 160px;
    left: 10px;
    position: absolute;
    height: 40px;
    background: #cdc6c66e;
    border: 0 solid #090103;
    opacity: 0.9;
    border-radius: 6px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    outline: 0;
    resize: none;
    line-height: 12px;
}
/*overview*/
.cloud-render-container-1008 .overview-area{
    transform: translateZ(999px);
    z-index: 9999;
    display: none;
    position: fixed;
    bottom: 5px;
    right: 6px;
    border-radius: 3px;
    border:2px solid #292420;
    height: 138px;
    width:206px;
}
.cloud-render-container-1008 .overview-area .overview-head{
    position: absolute;
    top: 0;
    width: 100%;
    height: 26px;
    line-height: 26px;
    color:#FFFFFF;
    font-size: 12px;
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    background: rgba(33, 33, 33, .7);
}
.cloud-render-container-1008 .overview-area .overview-close{
    width: 20px;
    height: 20px;
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cloud-render-container-1008 .overview-area .img-show{
    position: absolute;
    top: 26px;
    width: 100%;
    height: 112px;
    background: rgba(41,36,32,0.7);
}
.cloud-render-container-1008 .overview-area #overview-img{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    height: 54px;
    border:2px solid #2A2B2B;
}
.cloud-render-container-1008 .overview-area #part-show{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 58px;
    width: 33%;
    border:2px solid #FFFFFF;
    z-index: 999;
    border-radius: 2px;
    cursor: pointer;
}
.cloud-render-container-1008 .shortcut-item span.true{
    display: none;
    width: 5px;
    height: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-right: 10px;
}

.cloud-render-container-1008 .overview-close {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    line-height: 30px;
}
.cloud-render-container-1008 .overview-close:before,
.cloud-render-container-1008 .overview-close:after {
    position: absolute;
    right: 10px;
    height: 16px;
    content: ' ';
    width: 1px;
    background-color: #FFF;
}
.cloud-render-container-1008 .overview-close:before {
    transform: rotate(45deg);
}
.cloud-render-container-1008 .overview-close:after {
    transform: rotate(-45deg);
}

/*文件上传弹窗*/
.cloud-render-container-1008 #uploadModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cloud-render-container-1008 #uploadContent {
    background-color: #232323;
    padding: 0;
    border-radius: 10px;
    text-align: center;
    width: 55%;
    height: 85%;
    min-width: 500px;
    max-width: 1200px;
    max-height: 710px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.cloud-render-container-1008 #uploadContent .title {
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background: #232323;
    color: #FFFFFF;
}

.cloud-render-container-1008 #uploadContent .title h3 {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cloud-render-container-1008 #closeModal {
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: #232323;
    border-radius: 4px;
}
.cloud-render-container-1008 #closeModal:hover{
    background: #FA5251;
    color: #FFFFFF;
}
.cloud-render-container-1008 #serverArea{
    margin-bottom: 6px;

}
.cloud-render-container-1008 #uploadArea.drag-area {
    max-height: 250px;
}
.cloud-render-container-1008 .drag-area {
    padding: 6px;
    border-radius: 10px;
    background: #2E2E2E;
    width: calc(100% - 40px);
    margin: 0 20px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 16px;
    position: relative;
}

.cloud-render-container-1008 .hasData.drag-area {
    border: 2px dashed rgba(204, 204, 204, 0);
}

.cloud-render-container-1008 .drag-area.hover {
    border-color: #007bff;
    background-color: #f0f8ff;
}

.cloud-render-container-1008 .drag-area p {
    margin: 0;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.cloud-render-container-1008 .uploadArea input[type=file] {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-left: 20%;
    width: auto;
    border: 0 !important;
}

/* 自定义的文件选择按钮样式 */
.cloud-render-container-1008 .custom-file-button {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
}

.cloud-render-container-1008 .h3 {
    font-size: 20px;
}

.cloud-render-container-1008 .custom-file-button:hover {
    color: #0056b3;
    text-decoration: none;
}

/* 文件列表样式 */
.cloud-render-container-1008 #file-list{
    position: relative;
}
.cloud-render-container-1008 .file-list {
    font-size: 18px;
    background: #3C3C3C;
    color: white;
    overflow: auto;
    width: calc(100% - 0px);
    text-align: center;
    height: calc(100% - 0px);
}

.cloud-render-container-1008 .file-list span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* 删除按钮样式 */
.cloud-render-container-1008 .delete-file {
    color: #424242;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 0 !important;
}

.cloud-render-container-1008 .delete-file:hover {
    color: #1f1f1f;
}

.cloud-render-container-1008 .file-table {
    width: 100%;
    border-collapse: collapse;
}

.cloud-render-container-1008 .file-table th, .file-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.cloud-render-container-1008 .cancel-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #409EFF;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 0;
}

.cloud-render-container-1008 .action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
/*路径菜单栏*/
.cloud-render-container-1008 .action-bar .serverPathBar{
    display: flex;
    align-items: center;
    gap: 6px;
    flex: 1;
    margin-right: 6px;
}

.cloud-render-container-1008 .serverPathBar .dlgBarBtn{
    width: 30px;
    height: 30px;
    background: #3C3C3C;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cloud-render-container-1008 .serverPathBar .dlgBarBtn:hover{
    background: #454545;
}

.cloud-render-container-1008 .serverPathBar .dlgBarBtn img{
    width: 16px;
    height: 16px;
}
.cloud-render-container-1008 #serverPathBox .pathRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    background: #333333;

}
.cloud-render-container-1008 #serverPathBox .pathRow:hover{
    background: #3C3C3C;

}
.cloud-render-container-1008 #serverPathBox{
    flex: 1;
    background: #3C3C3C;
    height: 30px;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.cloud-render-container-1008 .action-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.cloud-render-container-1008 .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.cloud-render-container-1008 .custom-file-button {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.cloud-render-container-1008 .upload-type-container {
    position: relative;
    display: inline-block;
    width: 150px;
}

.cloud-render-container-1008 .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.cloud-render-container-1008 .action-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.cloud-render-container-1008 .action-select-label {
    display: inline-block;
    padding: 5px 10px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.cloud-render-container-1008 .action-select-label::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}


.cloud-render-container-1008 .dragging {
    border-color: #007bff;
}


.cloud-render-container-1008 .file-list table {
    width: 100%;
    border-collapse: collapse;
    height: calc(100% - 0px);

}
.cloud-render-container-1008 #serverFileTable.file-list table tbody{
    max-height: 300px;
    min-height: 150px;
    height: calc(100% - 40px);
}
.cloud-render-container-1008 .uploadListBox{
    height: calc(100% - 46px);
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.cloud-render-container-1008 .file-list table tbody{
    height: calc(100% - 40px);
    max-height: 200px;
    min-height: 100px;
    overflow: auto;
    display: inline-block;
    width: 100% !important;
}
.cloud-render-container-1008 #serverFileTable thead,
.cloud-render-container-1008 #serverFileTable tbody tr,
.cloud-render-container-1008 #fileList thead,
.cloud-render-container-1008 #fileList tbody tr{
    display: table; /* 保持表格的结构 */
    width: 100%; /* 确保列对齐 */
    table-layout: fixed; /* 固定表格布局 */
}
.cloud-render-container-1008#fileList thead tr{
    display: table;
    width: 100%;
}

.cloud-render-container-1008 .file-list tbody tr {
    background-color: #3C3C3C;
}
.cloud-render-container-1008 #serverFileTable.file-list tbody tr:hover{
    background-color: #3167A0;
}
.cloud-render-container-1008 .file-list th{
    padding: 10px;
    text-align: left;
    color: white;
    font-size: 12px;
    background: #232323;
}

.cloud-render-container-1008 .file-list .sfCol-1{

}
.cloud-render-container-1008 .file-list .sfCol-2{
    width: 100px;
}
.cloud-render-container-1008 .file-list .sfCol-3{
    width: 100px;
}
.cloud-render-container-1008 .file-list .sfCol-4{
    width: 150px;
}
.cloud-render-container-1008 .file-list .upFlCol-1{
    min-width: 80px !important;
}
.cloud-render-container-1008 .file-list .upFlCol-2{
    width: 100px;
}
.cloud-render-container-1008 .file-list .upFlCol-3{
    width: 150px;
}
.cloud-render-container-1008 .file-list .upFlCol-4{
    width: 150px;
}
.cloud-render-container-1008 .file-list .upFlCol-5{
    width: 100px;
}


.cloud-render-container-1008 .file-list td {
    padding: 11px 10px;
    text-align: left;
    color: white;
    font-size: 12px;
    font-weight: 400;
}
.cloud-render-container-1008 .file-list td img{
    width: 16px;
    height: 16px;
    margin-right: 4px;
    position: relative;
    bottom: 2px;
}

.cloud-render-container-1008 .custom-file-button {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.cloud-render-container-1008 #clearListButton {
    display: flex;
    height: 30px;
    padding: 6px 13px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #DDDFE5;
    background: #FFF;
    color: #666;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cloud-render-container-1008 #clearListButton:hover {
    border: 1px solid #BED1FF;
    background: #E8EDFF;
    color: #409EFF;
}

.cloud-render-container-1008 #clearListButton:checked {
    color: #409EFF;
    border: 1px solid #409EFF;
    background: #E8EDFF;
}

/*uploadTypeContainer dropdown*/
/* 下拉框样式 */
.cloud-render-container-1008 .dropdown {
    display: flex;
    height: 30px;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #3167A0;
    color: white;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cloud-render-container-1008 #serverPathValue .dropdown-label {
    width: calc(100% - 50px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: ltr;
    text-align: left;
    display: block;
}
.cloud-render-container-1008 .dropdown-label {
    color: white;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    height: 30px;
    display: flex;
    padding: 0 13px 0;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}

/*#uploadTypeLabel img{*/
/*    */
/*}*/
.cloud-render-container-1008 #uploadTypeLabel.dropdown-label:hover, #uploadTypeArrow.dropdown-arrow:hover {
    background-color: rgb(67 127 190);
}
.cloud-render-container-1008 #serverPathValue.dropdown-arrow:hover ,#serverPathBox .row:hover{
    background-color: #454545;
}

.cloud-render-container-1008 .dropdown-arrow {
    font-size: 14px;
    color: white;
    cursor: pointer;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cloud-render-container-1008 #uploadBtn {
    display: inline-flex;
    height: 30px;
    padding: 6px 13px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #409EFF;
    color: #FFF;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
}
.cloud-render-container-1008 .drag-prompt.h3{
    color: #999;
    font-family: "PingFang SC";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cloud-render-container-1008 #uploadBtn:hover {
    background: #78AEFF;
}

.cloud-render-container-1008 #uploadBtn:checked {
    background: #1678F5;
}
/* 显示菜单 */
.cloud-render-container-1008 .showMenu #serverPathMenu .uploadDropdown-menu{
    width: 100%;
    display: block;
    max-height: 300px;
    overflow: auto;
}
.cloud-render-container-1008 .uploadDropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background-color: #191919;
    border-radius: 5px;
    z-index: 10;
    width: 100%;
    min-width: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cloud-render-container-1008 .dropdown-item {
    padding: 8px 10px;
    font-size: 12px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 4px;
}
.cloud-render-container-1008 .dropdown-item img{
    width: 16px;
    height: 16px;
}
.cloud-render-container-1008 .dropdown-item text{
    width: calc(100% - 50px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: ltr;
    text-align: left;
    display: block;
}
.cloud-render-container-1008 .dropdown-item:hover {
    color: #FFFFFF;
    background-color: #333333;
}

/* 显示菜单 */
.cloud-render-container-1008 .dropdown.showMenu .uploadDropdown-menu {
    display: block;
}
.cloud-render-container-1008 .uploadPathTd{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cloud-render-container-1008 .uploadBottom {
    width: 100%;
    text-align: right;
    padding: 20px 0;
}

/*//表格进度条*/
.cloud-render-container-1008 .progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}

.cloud-render-container-1008 .progress-container .progress-bar {
    width: 84px;
    height: 10px;
    background-color: #2E2E2E; /* 背景色 */
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.cloud-render-container-1008 .progress-container .progress {
    height: 100%;
    background-color: #3167A0; /* 进度颜色 */
    width: 0; /* 初始宽度 */
    transition: width 0.3s ease; /* 动画效果 */
    border-radius: 5px;
}
.cloud-render-container-1008 #contextMenu {
    position: fixed;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 110px;
}
.cloud-render-container-1008 #contextMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
}
.cloud-render-container-1008 #contextMenu li img {
    width: 16px;
    height: 16px;
}
.cloud-render-container-1008 #contextMenu li {
    padding: 8px;
    cursor: pointer;
    background: #191919;
    text-align: left;
    display: flex;
    gap: 4px;
    font-size: 12px;
    align-items: center;
    color: #FFFFFF;
    line-height: 18px;
}
.cloud-render-container-1008 #contextMenu li:hover {
    background: #333333;
}
.cloud-render-container-1008 .rename-input {
    width: calc(100% - 24px); /* 留出图片的宽度 */
    padding: 4px 8px;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
    outline: none;
    background-color:#242424 ;
}
.cloud-render-container-1008 .rename-input:focus {
    /*box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);*/
}
.cloud-render-container-1008 .file-conflict-dialog{
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    height: 245px;
    background: #232323;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 12px;
    color: white;
    font-size: 14px;
}
.cloud-render-container-1008 .file-conflict-dialog .title{
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    text-align: left;
    font-style: normal;
    margin-bottom: 21px;
}
.cloud-render-container-1008 .file-conflict-dialog .tipRow img{
    width: 24px;
    height: 24px;
    margin-right: 12px;


}
.cloud-render-container-1008 .file-conflict-dialog .tipRow{
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.cloud-render-container-1008 .file-conflict-dialog .fileNameBox{
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    text-align: left;
    margin-bottom: 18px;
    padding: 0 10px;
}
.cloud-render-container-1008 .file-conflict-dialog .tipFileRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.74)

}
.cloud-render-container-1008 .file-conflict-dialog  .tipBtnRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 18px;
}
.cloud-render-container-1008 .file-conflict-dialog  .tipBtnRow button{
    width: 96px;
    height: 30px;
    background: #3167A0;
    border-radius: 4px;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 20px;
    margin-right: 0;
}
.cloud-render-container-1008 .file-conflict-dialog  .tipBtnRow button:hover{
    background: #437FBE;
}
.cloud-render-container-1008 .file-conflict-dialog .tipBtnRow #btn-cancel{
    background: #3C3C3C;
    border-color: #3C3C3C;
}
.cloud-render-container-1008 .file-conflict-dialog  .tipBtnRow button#btn-cancel:hover{
    background: #515151;
}
.cloud-render-container-1008 #message-container{
    background-color: #232323;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 21px;
    max-width: 600px;
    border-radius: 8px;
}

.cloud-render-container-1008 .btn ,
.jconfirm .btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.cloud-render-container-1008 .btn-danger,
.jconfirm .btn-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.jconfirm .btn-danger:hover,
.jconfirm .btn-danger:focus,
.jconfirm .btn-danger:active,
.jconfirm .btn-danger.active,
.jconfirm .open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.jconfirm .btn-danger:active,
.jconfirm .btn-danger.active,
.jconfirm .open>.dropdown-toggle.btn-danger {
    background-image: none
}


.jconfirm .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.jconfirm .btn-default:hover,
.jconfirm .btn-default:focus,
.jconfirm .btn-default:active,
.jconfirm .btn-default.active,
.jconfirm .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.jconfirm .btn-default:active,
.jconfirm .btn-default.active,
.jconfirm .open>.dropdown-toggle.btn-default {
    background-image: none
}

.jconfirm .btn-default.disabled,
.jconfirm .btn-default[disabled],
.jconfirm fieldset[disabled] .btn-default,
.jconfirm .btn-default.disabled:hover,
.jconfirm .btn-default[disabled]:hover,
.jconfirm fieldset[disabled] .btn-default:hover,
.jconfirm .btn-default.disabled:focus,
.jconfirm .btn-default[disabled]:focus,
.jconfirm fieldset[disabled] .btn-default:focus,
.jconfirm .btn-default.disabled:active,
.jconfirm .btn-default[disabled]:active,
.jconfirm fieldset[disabled] .btn-default:active,
.jconfirm .btn-default.disabled.active,
.jconfirm .btn-default[disabled].active,
.jconfirm fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc
}

