body{
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datachannel{
    transform: translateZ(997px);
    z-index: 9999;
    min-width: 260px;
    min-height: 700px;;
    width:15%;
    height:80%;
    border:1px solid #0476FD;
    border-radius:6px;
    background-color:#FFF;
    padding:0px 10px 0px 10px;
    margin-right:60px;
    margin-left:30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.datachannel .dataform{
    width:100%;
    display:inline-block;
}
#showChannelData::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#showChannelData::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #535353;
}
#showChannelData::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #EFEFEF;
}
.datachannel .msg-top{
    margin-top: 24px;
    margin-bottom: 24px;
}
.datachannel .msg-title{
    width: 92px;
    height: 18px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #191919;
}
.datachannel .msg-content{
    width: 100%;
}
.datachannel .content-titile{
    padding-bottom: 6px;
}
.datachannel .content-titile span{
    width: 58px;
    height: 14px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #191919;
}
.datachannel #title-bar{
    display: inline-block;
    width: 5px;
    height: 12px;
    background: #519BF8;
    border-radius: 2px;
}
.datachannel .btn:focus, .datachannel .btn:active:focus, .datachannel .btn.active:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
.datachannel .btn:hover, .datachannel .btn:focus{
    color: #fff;
    transform: scale(1.02);
}
.datachannel .btn:active{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.datachannel .titletop{
    margin-top: 10px;
}
.datachannel #sendChannelDataBtn{
    width: 100%;
    height: 36px;
    background: #75AFF9;
    border-radius: 4px;
    color: #fff;
}
.datachannel .btn-send{
    color: #fff;
    background: #333333;
    border-radius: 4px;
    width: 48%;
    margin-right: 2px;
    margin-top:10px;
}
.datachannel .btn-red{
    background: #EE4141;
}
.datachannel .btn-green{
    background: #8BC876;
}
.datachannel .btn-blue{
    background: #519BF8;
}
.datachannel .btn-turn{
    background: #333333;
}
.datachannel textarea{
    resize:none;
}